Source: ros-crystal-rosidl-actions
Section: misc
Priority: extra
Maintainer: Shane Loretz <sloretz@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-crystal-ament-cmake, ros-crystal-ament-cmake-pytest, ros-crystal-ament-lint-auto, ros-crystal-ament-lint-common, ros-crystal-rosidl-parser, ros-crystal-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-crystal-rosidl-actions
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-crystal-rosidl-parser, ros-crystal-ros-workspace
Description: Converts action files into message and service files.
