Source: ros-rolling-rosidl-buffer-py
Section: misc
Priority: optional
Maintainer: CY Chen <cyc@nvidia.com>
Build-Depends: debhelper (>= 9.0.0), pybind11-dev, python3-dev, ros-rolling-ament-cmake, ros-rolling-ament-cmake-python, ros-rolling-ament-lint-auto <!nocheck>, ros-rolling-ament-lint-common <!nocheck>, ros-rolling-rosidl-buffer, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-rosidl-buffer-py
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-rosidl-buffer, ros-rolling-ros-workspace
Description: Python bindings for rosidl::Buffer, providing a Buffer class that supports vendor-specific memory backends (CPU, GPU, custom) for rclpy users.
